{:highlights [{:id #uuid "6508ad68-fd1f-4d86-a2f7-3a4eba8d7c74",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 704.1170654296875,
                                     :y2 845.015625,
                                     :width 797.9999999999999,
                                     :height 1032.705882352941},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 0,
                                   :y1 16,
                                   :x2 0,
                                   :y2 32,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 116.72830200195312,
                                   :y1 813.375,
                                   :x2 125,
                                   :y2 829.375,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 140.8125,
                                   :y1 813.375,
                                   :x2 704.1170654296875,
                                   :y2 829.375,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 140.8125,
                                   :y1 829.015625,
                                   :x2 563.4632568359375,
                                   :y2 845.015625,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}),
                          :page 2},
               :content {:text ". (2 points) Write a function called f_to_k(t) that returns the temperature, t, given in degrees Fahrenheit as a temperature expressed in degrees Kelvin"},
               :properties {:color "red"}}
              {:id #uuid "6508ad71-263f-45b7-9863-ec5d79681c60",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 798,
                                     :y2 1032.703125,
                                     :width 797.9999999999999,
                                     :height 1032.705882352941},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 798,
                                   :y2 0,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 140.8125,
                                   :y1 844.65625,
                                   :x2 704.0574951171875,
                                   :y2 860.65625,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 0,
                                   :y1 854.25,
                                   :x2 798,
                                   :y2 1032.703125,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}),
                          :page 2},
               :content {:text "(2 points) Write a personalized poem maker in the form of a function called poem_generator(). This function prompts the user for the name and city of birth and then prints a poem that includes that name and city of birth. You can make up your own poem or adapt one from here for example https://literarydevices.net/ limerick/."},
               :properties {:color "yellow"}}
              {:id #uuid "6508adb7-f2e3-4bf7-85d0-89fbe6ffe68f",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 704.1205444335938,
                                     :y2 140.90625,
                                     :width 797.9999999999999,
                                     :height 1032.705882352941},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 16,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 0,
                                   :y1 16,
                                   :x2 0,
                                   :y2 32,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 140.8125,
                                   :y1 93.609375,
                                   :x2 704.120361328125,
                                   :y2 109.609375,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 140.8125,
                                   :y1 109.25,
                                   :x2 704.1205444335938,
                                   :y2 125.25,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 140.8125,
                                   :y1 124.90625,
                                   :x2 698.2593383789062,
                                   :y2 140.90625,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}),
                          :page 3},
               :content {:text "(2 points) Write a function called impl2loz(w) that takes a non-negative number w as input and returns a pair of numbers (l,o) such that w = l + o/16 and l is an integer and o is a non-negative number smaller than 16. Note that the solution l and o are unique."},
               :properties {:color "green"}}
              {:id #uuid "6508add3-9beb-43b1-ac53-d7d46a39a294",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 16,
                                     :x2 704.1354370117188,
                                     :y2 219.140625,
                                     :width 797.9999999999999,
                                     :height 1032.705882352941},
                          :rects ({:x1 0,
                                   :y1 16,
                                   :x2 0,
                                   :y2 32,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 0,
                                   :y1 32,
                                   :x2 0,
                                   :y2 48,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 0,
                                   :y1 48,
                                   :x2 0,
                                   :y2 64,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 0,
                                   :y1 64,
                                   :x2 0,
                                   :y2 80,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 140.8125,
                                   :y1 140.546875,
                                   :x2 704.1354370117188,
                                   :y2 156.546875,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 140.8125,
                                   :y1 156.1875,
                                   :x2 704.1195068359375,
                                   :y2 172.1875,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 140.8125,
                                   :y1 171.84375,
                                   :x2 704.1347045898438,
                                   :y2 187.84375,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 140.8125,
                                   :y1 187.484375,
                                   :x2 704.0925903320312,
                                   :y2 203.484375,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 140.8125,
                                   :y1 203.140625,
                                   :x2 591.063232421875,
                                   :y2 219.140625,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}),
                          :page 3},
               :content {:text "(2 points) Write a function pale(n) that takes a positive integer n as input where n has four digits. The function determines if n is a pale number. A number is not pale if and only if it has at least two consecutive digits each equal to 3, or if its last digit is divisible by 4. The function should test if n is pale and returns True if n is pale and False otherwise. (In this function, you are not allowed to use strings.)"},
               :properties {:color "red"}}
              {:id #uuid "6508adee-ef75-438b-92e9-3047c6b15f9d",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 16,
                                     :x2 704.546875,
                                     :y2 266.078125,
                                     :width 797.9999999999999,
                                     :height 1032.705882352941},
                          :rects ({:x1 0,
                                   :y1 16,
                                   :x2 0,
                                   :y2 32,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 0,
                                   :y1 32,
                                   :x2 0,
                                   :y2 48,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 145.8719024658203,
                                   :y1 218.78125,
                                   :x2 704.546875,
                                   :y2 234.78125,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 140.8125,
                                   :y1 234.421875,
                                   :x2 704.1307983398438,
                                   :y2 250.421875,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}
                                  {:x1 140.8125,
                                   :y1 250.078125,
                                   :x2 486.74859619140625,
                                   :y2 266.078125,
                                   :width 797.9999999999999,
                                   :height 1032.705882352941}),
                          :page 3},
               :content {:text "2 points) Write a function bibformat(author,title,city,publisher,year) that returns a string of the form: author (year). title. city: publisher. See the next Section 2 below for some examples of how your function must behave"},
               :properties {:color "blue"}}],
 :extra {:page 3}}
